# Project specific

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Config/Galaxy64.dll
Config/Galaxy.dll
bin/
Source/Version/auto_version.h
Source/Version/temp_auto_version.h
cmake-x86/
cmake-x64/
cmake-linux/
cmake-linux-x86/
cmake-linux-x64/
release-packages/
cmake-x*custom*.bat
ConfigInterceptor*/
