# %% is the windows command prompt escape character for a single %
# \ to escape $ in CMake

SET(GALAXY_SDK_USER_CREDENTIALS_USER1_NAME "login@domain.tld")
SET(GALAXY_SDK_USER_CREDENTIALS_USER1_PASSWORD "pa55word")

SET(GALAXY_SDK_USER_CREDENTIALS_USER2_NAME "login2@domain.tld")
SET(GALAXY_SDK_USER_CREDENTIALS_USER2_PASSWORD "p4ssw0rd")
