# %% is the windows command prompt escape character for a single %
# \ to escape $ in CMake

SET(GALAXY_SDK_USER_CREDENTIALS_USER1_NAME "login@domain.tld")
SET(GALAXY_SDK_USER_CREDENTIALS_USER1_PASSWORD "pa55word")

SET(GALAXY_SDK_USER_CREDENTIALS_USER2_NAME "login2@domain.tld")
SET(GALAXY_SDK_USER_CREDENTIALS_USER2_PASSWORD "p4ssw0rd")

# these are public and published by GOG themselves for everyone to use
SET(GALAXY_SDK_CLIENT_ID "50225266424144145")
SET(GALAXY_SDK_CLIENT_SECRET "45955f1104f99b625a5733fa1848479b43d63bdb98f0929e37c9affaf900e99f")
